@import '../../../app.component.scss';

form {
  padding: 10px;
  .detail-form {
    width: 100%;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .form-color--red{
    color: red;
  }

  button{
    width: 100%;
    height: 50px;
    color: white;
    background: $color-one;
    font-size: 18px;
    font-weight: 700px;
  }
  button:hover{
    opacity: 0.8;
  }
}