.download {
  max-width: 1140px;
  padding: 30px 15px;
  margin: 30px auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  .download__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .content__head {
      padding: 7.5px;
      p {
        font-size: 22px;
        line-height: 33px;
        font-weight: 400;
      }
    }
    .content__body {
      padding: 7.5px;
      p {
        font-size: 17px;
        line-height: 25px;
      }
    }
    .content__foot {
      padding: 7.5px;
      img {
        margin: 7.5px;
      }
    }
  }
}
