<div class="download">
  <div class="download-container">
    <div class="download__image">
      <img src="../../../../assets/logos/download-section.svg" alt="">
    </div>
    <div class="download__content">
      <div class="download__content__head">
        <p>Dapatkan Pengalaman meminjam Mudah dan Praktis</p>
      </div>
      <div class="download__content__body">
        <p>Pantau status pengajuan kreditmu dengan mudah, kapanpun, dimanapun</p>
      </div>
      <div class="download__content__foot">
        <img src="../../../../assets/logos/Google-Play.svg" alt="">
        <img src="../../../../assets/logos/App-Store.svg" alt="">
      </div>
    </div>
  </div>
</div>
