.application-form__body__detail {
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  span {
    font-size: 12px;
    color: #6d7278;
    line-height: 18px;
  }
  p {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
  }
  .detail__amount {
    height: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  .detail__payement {
    height: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;

    .detail__payement__duration {
      justify-self: end;
    }
  }
}