<div class="statistic">
  <div class="statistic__content">
    <img src="../../../../assets/logos/icon_income.svg" alt="">
    <div class="statistic__content__text">
      <span>> Rp 3 Triliun</span>
      <p>pembiayaan yang telah disalurkan</p>
    </div>
  </div>
  <div class="statistic__content">
    <img src="../../../../assets/logos/icon_smartphone.svg" alt="">
    <div class="statistic__content__text">
      <span>> 3.5 juta Pengguna</span>
      <p>Mengunduh aplikasi Tunaiku</p>
    </div>
  </div>
</div>
