<div class="landing">
  <div class="landing__text">
    <div class="landing__text__title">
      <h1>Ajukan Pinjaman Online Tanpa Jaminan</h1>
    </div>
    <div class="landing__text__subtitle">
      <p>
        Hanya dengan KTP, dapatkan kredit tanpa agunan hingga
        <span id="SubtitleAmount">Rp20.000.000</span>
      </p>
    </div>
    <div class="landing__text__footer">
      <div class="landing__text__footer__text">
        <p>
          Tunaiku adalah produk dari Bank Amar yang terdaftar dan diawasi oleh
          OJK sejak 2014
        </p>
      </div>
      <div class="landing__text__footer__logo">
        <img src="../../../../assets/logos/Amar-Bank.svg" alt="" />
        <img src="../../../../assets/logos/OJK.svg" alt="" />
      </div>
    </div>
  </div>
  <div class="landing__img">
    <img src="../../../../assets/images/homepage-woman.png" alt="" />
  </div>
  <app-loan-slider></app-loan-slider>
</div>
