<div class="header">
  <div class="navbar">
    <div id="CntrMasterBrand">
      <img src="../../../../assets/logos/tunaiku-logo-color.svg" alt="">
    </div>
    <div id="CntrMasterDesktop">
      <a routerLink="/">
        <img src="../../../../assets/logos/tunaiku-invest-baru.svg" alt="">
        Tunaiku Invest
      </a>
      <a routerLink="/">Produk</a>
      <a routerLink="/">Tentang Kami</a>
      <a routerLink="/">Rilis Media</a>
      <a routerLink="/">Pusat Bantuan</a>
    </div>
    <div id="CntrMasterHelp">
      <a>
        <img src="../../../../assets/logos/icon-comment.svg" alt="">
        <p>Saran</p>
      </a>
    </div>
    <div id="CntrMasterLogin">
      <button mat-stroked-button>Masuk Akun</button>
    </div>
  </div>
</div>
