<div class="outside-area">
  <div class="outside-area__container">
    <div class="container__image">
      <img src="../../../../assets/logos/service-area.svg" alt="">
    </div>
    <p>Mohon Maaf, daerah Anda belum termasuk dalam area layanan kami.</p>
    <div class="container__body">
      <p>Ayo dukung terus Tunaiku untuk mengembangkan layanan sampai ke daerah Anda dengan cara:</p>
      <p>1. Beri bintang 5 di Google Playstore.</p>
      <p>2. Tulis nama daerah Anda di kolom komentar.</p>
      <p>Contoh: Papua, Kab.Marauke, Kec. Tanah Miring, Kemangi.</p>
    </div>
    <button mat-stroked-button class="button-out" routerLink="/">Keluar </button>
    <br>
    <button mat-stroked-button class="button-store">Buka Playstore</button>
  </div>
</div>
