<div class="loan-slider">
  <div class="loan-slider__slider">
    <div class="loan-slider__slider__header">
      <span>Jumlah Pinjaman</span>
      <p>{{amount}} juta</p>
    </div>
    <div class="loan-slider__slider__slider">
      <mat-slider min="2" max="20" step="1" [(ngModel)]="amount" (change)="onChangeAmount($event)"></mat-slider>
    </div>
    <div class="loan-slider__slider__footer">
      <p>2 juta</p>
      <p>20 juta</p>
    </div>
  </div>
  <div class="loan-slider__slider">
    <div class="loan-slider__slider__header">
      <span>Lama Pinjaman</span>
      <p>{{duration}} bulan</p>
    </div>
    <div class="loan-slider__slider__slider">
      <mat-slider min="6" max="20" step="1" [(ngModel)]="duration" (change)="onChangeDuration($event)"></mat-slider>
    </div>
    <div class="loan-slider__slider__footer">
      <p>6 bulan</p>
      <p>20 bulan</p>
    </div>
  </div>
  <hr>
  <div class="loan-slider__footer">
    <div class="loan-slider__footer__content">
      <span>Cicilan per bulan</span>
      <p>*sudah termasuk bunga dan biaya admin</p>
    </div>
    <div class="loan-slider__footer__amount">
      <span>{{installment | currency:"IDR":"symbol-narrow":"1.0"}}</span>
    </div>
    <div class="loan-slider__footer__button">
      <button routerLink="/loan/confirm-service-area" mat-raised-button id="google-tag-ajukan">Ajukan Pinjaman</button>
    </div>
  </div>
</div>
