@import "../../../app.component.scss";
.service-area {
  height: 100vh;
  .service-area__container {
    .service-area__container__body {
      padding: 36px 26px;
      text-align: center;
      img {
        margin-bottom: 30px;
      }
      .service-area__container__body__text {
        p {
          text-align: start;
          font-size: 16px;
          font-weight: 700;
        }
      }

      //radio
      .radio-button-group {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
      }
      .radio-button {
        margin-top: 10px;
        text-align: start;
        width: 100%;
      }
      .label-radio-button {
        white-space: normal;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
      }
      ::ng-deep .mat-radio-label{
        align-items: end;
      }
    }
    button {
      margin: 20px auto;
      background: $color-one;
      font-size: 16px;
      line-height: 16px;
      color: white;
      font-weight: 700;
      width: 100%;
      height: 50px;
    }
    button:hover {
      opacity: 0.8;
    }
  }
}
